* {
  box-sizing: border-box;
}
.app-container {
  height: 100vh;
  display: flex;
}
@media screen and (max-width: 968px) {
  .app-container {
    flex-direction: column;
  }
}
.app-container h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #333;
}
.average-ticker {
  background-color: #acb;
  flex-direction: column;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .average-ticker {
    width: 100%;
    height: 30%;
  }
}
.average-ticker .help {
  font-size: x-large;
}
.right-panel {
  width: 50%;
}
@media screen and (max-width: 968px) {
  .right-panel {
    width: 100%;
    height: 70%;
  }
}
.tp-selector {
  background-color: #cba;
  height: 50%;
  padding: 1rem;
}
.tp-selector h2 {
  height: 2rem;
  margin: 0;
  text-align: center;
}
.tp-selector .error-help {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tp-selector .error-help label {
  margin: 0.5rem;
}
.tp-selector .buttons {
  height: 85%;
  padding: 0.2rem;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}
.tp-selector .buttons button {
  width: calc(33% - 0.4rem);
  margin: 0.2rem 0.2rem;
  height: 2rem;
}
.tp-selector .buttons button.selected {
  font-weight: bold;
}
.tp-viewer {
  background-color: #bc9;
  height: 50%;
  padding: 1rem;
  overflow: auto;
}
.tp-viewer h2 {
  height: 2rem;
  margin: 0;
  text-align: center;
}
.gj-numbers-view h2 {
  text-align: center;
}
.gj-numbers-view .num-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gj-number-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0.7rem;
}
.gj-number-label span {
  display: block;
  font-size: xx-large;
  font-weight: bold;
  word-break: break-word;
  text-align: center;
}
.gj-number-label label {
  display: block;
  font-size: medium;
}
